<div class="container">
  <div class="header">
    StockChart
  </div>
  <div class="chart-container">
    <div class="selection-container">
      <select class="selection">
        <option value=""></option>
        <% @stockprices.each do |stockprice| %>
          <option value="<%= stockprice.symbol %>"><%= stockprice.name %></option>
        <% end %>
      </select>
    </div>
    <div class="chart">
      <canvas id="chart" width="400" height="400"></canvas>
    </div>
  </div>
</div>
